@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-center() {
  display: grid;
  place-items: center;
}

@mixin box-shadow() {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 10px 15px -10px rgba(0, 0, 0, 0.75);
}
